PORT=8082
EXCHANGE_API_KEY=your_api_key
BASE_CURRENCY=RUB
DATABASE_URL=postgres://postgres:password@localhost:5432/currency_db?sslmode=disable
DATABASE_DRIVER=postgres
CURRENCY_API_URL=https://api.exchangerate-api.com/v4
ENVIRONMENT=development

